
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive HTML Table</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="table_responsive">
    <table>
        <thead>
            <tr>
                <th>Sl</th>
                <th>Image</th>
                <th>Name</th>
                <th>Phone</th>
                <th>Address</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
            {{#each users}}
            <tr>
                <td>{{sl}}</td>
                <td><img src="{{image}}" alt=""></td>
                <td>{{name}}</td>
                <td>{{phone}}</td>
                <td>{{address}}</td>
                <td>
                    <span class="action_btn">
                        <a href="#">Edit</a>
                        <a href="#">Remove</a>
                    </span>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
</body>
</html>
